
.grid-container {
  display: grid;
  grid-template-columns: 60% 30%;

}

.grid-item {
  text-align: center;
  animation-duration: 0.1s; /* don't forget to set a duration! */
}

h3, h2, h1 {
    text-align: center;
}
.vision_message {
    float: left;
    display: block;
    padding-left: 3%;
    width:45%;
    height:280px;
}

.vision_video {
   float: right;
   padding-right: 3%;
   color: blue;
}
/* h3, h4, ul, p {
    text-align: left; /* Center the list items horizontally
    display: block; /*Display the image as a block element
    float: left; /* Float the image to the left
} */
