
#team-title {
    text-align: left;
}

.team-body {
    background-color: #f8f8ff;
    text-align: center;
    display: grid;
    grid-template-rows: 25rem 25rem 25rem;
}

.phd-first-row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom: 1%;
}

.phd-second-row {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.team-card {
    align-items: center;
}

.founder-card {
    align-items: center;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.team-name {
    padding-top: 2%;
    color: black;

}

.alumni {
    background-color: #f8f8ff;
    text-align: left;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
}

#alumni-title {
    text-align: left;
}

h3, h2 {
    text-align: center;
}
.circular--square { 
    border-radius: 50%; 
    width: 10rem;
    height: 10rem;
}

tr, th, span, table{
    text-align: center;
    vertical-align: middle;
}

.teamText {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1rem;
    font-weight: normal;
    color: black;
}
h5 {
    font-weight: bold;
}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.underline {
    padding-bottom: 0.75%;
    border-bottom: 4px solid;
   }
/* h3, h4, ul, p {
    text-align: left; /* Center the list items horizontally
    display: block; /*Display the image as a block element
    float: left; /* Float the image to the left
} */

.posts-container {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	padding: 0%;
}
.image {
	margin-left: 10%;
	display: block;
}
.container {
    display: grid;
    grid-template-columns: 41% 41% 41%;
    align-items: left;
    margin-left: 1.5%;
    /* grid-template-rows: 3em 1.6em 1.6em; */

}
.overline {
    padding-top: 0.75%;
    border-top: 4px solid;
   }
/* .container div:nth-child(1), div:nth-child(6) {
    background-color: #B8336A;
}

.container div:nth-child(2), div:nth-child(7) {
    background-color: #726DA8;
}

.container div:nth-child(3), div:nth-child(8) {
    background-color: #7D8CC4;
}

.container div:nth-child(4) {
    background-color: #A0D2DB;
}

.container div:nth-child(5) {
    background-color: #C490D1;
} */