/* .AboutUsBody {
	background-color: #eaee74;
    height: 100%;
    margin: 0;
}

.TeamBody {
	background-color: #de4c4c;
    height: 100%;
    margin: 0;
}
.PublicationsBody {
	background-color: #584cde;
    height: 100%;
    margin: 0;
}
.NewsBody {
	background-color: #0e9d57;
    height: 100%;
    margin: 0;
}
.BlogBody {
	background-color: #8c0e9d;
    height: 100%;
    margin: 0;
}  */

/* p {
    font-family: "Sans", sans-serif;
} */
/* #vision {
  font-family: "Lobster";
  font-size: "32px";
} */
tr {
  text-align: left;
}
table {
    /* border-spacing: 0; Reduce the space between table cells to 0 */
    /* border-collapse: collapse; Collapse the table cell borders */
    vertical-align: top;

}
/* img {
    display: block; /* Display the image as a block element
    float: left; /* Float the image to the left
} */

h3, h2, h1 {
    text-align: center;
}
p {
    text-align: left;
    display: block;
    float: left;
    padding-left: 3%;
    font-weight: normal;
}
/* h3, h4, ul, p {
    text-align: left; /* Center the list items horizontally
    display: block; /*Display the image as a block element
    float: left; /* Float the image to the left
} */
