#highlight-body {
    color: black;
    background-color: #333333;
    width: 100%;
    font-size: 1rem;
}

#highlight-title {
    color: white;
    text-align: left;
    margin-left: 3%;
    font-size: 2.5rem;
}
.greyBackground {
    background-color: #333333 !important;
    color: white !important;
  }