/* .post-container {
	background: #bebebe;
	display: flex;
	flex-direction: column;
	padding: 3%;
	margin: 0 2%;
	align-self: center;

} */
/* .heading {
	height: 126px;
	text-align: center;
	display: flex;
	align-items: center;15
	align-self: center;
} */

.highlight-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.post-grid-container {
	display: grid;
    color: white;
    background-color: #333333;/*"#1C1B1B",*/
    grid-template-columns: 45% 55%;
}

.post-media {
	height: 100%;
    width: 100%;
    animation-duration: 0.1s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.posts-image {
	/* ALL IMAGES ARE OF RATIO 2500pxH 6000pxW (25:60)*/
	width: 31rem;
	height: 20rem;	
}

.posts-video {
	/* ALL IMAGES ARE OF RATIO 2500pxH 6000pxW (25:60)*/
	width: 31rem;
	height: 20rem;
	border: 0;	
}

.heading {
	font-size: 1.7rem;
}

.post-info {
	text-align: justify;
    /* padding-top: 7%; */
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 5rem;
    font-size: 1.2rem;
	animation-duration: 0.1s; /* don't forget to set a duration! */
}

@media screen and (max-width: 1200px) {
    .post-grid-container {
		display: grid;
      	color: white;
      	background-color: #333333;/*"#1C1B1B",*/
      	grid-template-columns: 100%;
    	grid-template-rows: 50% 50%;
		flex-direction: column-reverse;
	}

	.heading {
		font-size: 1.4rem;
	}

  	.post-info {
		text-align: justify;
		padding-top: 0;
		padding-bottom: 1rem;
		padding-left: 3rem;
		padding-right: 3rem;
		font-size: 1rem;
		animation-duration: 0.1s;
	}

	.post-media {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		animation-duration: 0.1s; /* don't forget to set a duration! */
	}

	.posts-image {
		width: 35rem;
		height: 20rem;
		padding: 0.5rem;
		aspect-ratio: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.posts-video {
		width: 35rem;
		height: 20rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
  }