#vision-grid-container {
    display: grid;
    color: white;
    background-color: #333333;/*"#1C1B1B",*/
    grid-template-columns: 50% 50%;
}
  
  #grid-item {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2rem;
    animation-duration: 0.1s; /* don't forget to set a duration! */
  }

  * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
  /* .video_wrapper {
      width: 400px;
      height: 300px;
      position: relative;
      left: 100px;
      down: 150px;
  } */
  
  #video_wrapper {
      width: 100%;
      height: 100%;
      background-color: #333333;
      display: flex;
      position: relative;
      padding-left: 0.5rem;
      padding-right: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .vision-video {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 20rem;
    object-fit: cover;
    z-index: 20;
  }
  
  @media screen and (max-width: 1170px) {
    #vision-grid-container {
      display: grid;
      color: white;
      background-color: #333333;/*"#1C1B1B",*/
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
  }

  .vision-video {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 15rem;
    object-fit: cover;
    z-index: 20;
  }
  

  }