.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    /* right: -50px; */
    height: 0;
  }
  
  .video-responsive iframe {
    /* left: 0; */
    /* padding-left: 5%; */
    max-width: 500rem;
    max-height: 300rem;
    margin-left: auto;
    margin-right: auto;   
    top: 0;
    height: 100%;
    width: 100%;
    position: relative;
    /* right: -250px; */
  }
  
  @media screen and (max-width: 1000px) {
    .video-responsive iframe {
      min-width: 300rem;
      min-height: 200rem;
    }
    
  }